{% extends 'menu.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block pagename %}
        <h1 align="center">{{ title_h1 }}</h1>
    {% endblock %}

    {% block content %}
        <ul>
            {% for game in games_all %}
            <li>
                {{ game.title }} | {{ game.description }}. Стоимость: {{ game.cost }}
                <button style="padding: 5px">КУПИТЬ</button>
            </li>
            {% endfor %}
        </ul>
        <button style="padding: 15px">
            <a href="{{ main_page }}" style="color: black; text-decoration: none; font-weight: bold">
                ВЕРНУТЬСЯ<br> НА ГЛАВНУЮ
            </a>
        </button>
    {% endblock %}

</body>
</html>